@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft-Bold';
  font-style: normal;
  src:
    local('Minecraft-Bold'),
    url(@/assets/fonts/minecraft-bold.otf) format('opentype')
  ;
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;

  color: #1F1E33;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
